<footer class="page-footer font-small cyan darken-3">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="row-md-12 py-5">
          <div class="mb-5 flex-center">
            
        
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Elements -->
<div class='row'>
  <div class="col-md-6">
  </div>
  <div class="col-md-2">
    <a href="https://www.linkedin.com/in/jon-fearnow-63b1b565/" class="fab fa-linkedin" style="font-size:26px"></a>
    <a href="https://www.github.com/jfearnow/" class="fab fa-github-square" style="font-size:26px"></a>
  </div>
  <div class="col-md-6">
  </div>
</div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href=""> Jon Fearnow</a>
    </div>
    <!-- Copyright -->

  </footer>